body{
    width: 100%;
}
h1{
    font-size: 25px;   
}
p{
    text-align: justify;
    font-size: 20px;
}
.border{
    
    border-left: 3px solid orangered;
}
.color{
    color:orange;
}
.span-size{
    font-size: 37px;
}
.width{
    
    display: flex;
    padding-left: 5%;
    padding-right: 3%;
    
    
}
.half-width{
    width: 50%;
    margin-left: 3%;
    
}
.img-size{
    width: 80%;
    height: auto;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: 1000px;

}
.top{
    margin-top: 5%;
}
.text-middle{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.flxible-area{
    width: 100%;
}
.my-mission{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
.my-mission img{
    width: 50%;
}
.one-third-width{
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 5px;
    margin-left: 5%;
    margin-bottom: 5%;
}
.mission{
    background-color: rgb(199, 175, 175);
}
.Vission{
   background-color: paleturquoise;
}
.Goals{
    background-color: pink;
} 




.coding-image{
    width: 85%;
    height: auto;
}
.shape{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin: 5%;
}
.one-third-width{
    border-image-slice: 70%;
}
.footer-size{
    font-family: 'Lobster';font-size: 22px;
    text-align: center;
    color: brown;
}
.footer-bg{
    background-color: black;
    width: 100%;
    height: 100px;
    padding: 3px;
}
.footer-size-p{
    text-align: center;
    color: wheat;

}